.blog-owner-introduction-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #87AE73;
    border: black solid 2px;
    border-radius: 6px;
    width: max-content;
}
.blog-owner-img{
    width: 12.6875rem;
    height: 12.6875rem;
    border-radius: 6px;
}
.blog-owner-introduction-textbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}
.page-main-title{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Archivo Black';
    font-size: 1rem;
    letter-spacing: 5%;
}
.latest-post-grid-layout{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
