.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.login-form-container {
  text-align: center;
  width: 22.5rem;
  padding: 0;
  margin: 0;
  border: solid 2px #000000;
  background-color: #87ae73;
}
.login-page-heading {
  text-align: center;
  font-family: "Archivo Black";
  letter-spacing: 5%;
  font-size: 1.125rem;
}
.login-form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.login-label {
  font-family: "Archivo Black";
  letter-spacing: 5%;
  margin-bottom: 0.5rem;
}

.login-form-inputfield{
    height: 2rem;
    text-align: center;
}
.login-form-inputfield::placeholder{
    color: #000000;
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border: solid 2px #000000 ;
    border-radius: 0.4rem;
    height: 2.1875rem;
    width: 9.375rem;
    font-family: 'Archivo Black';
    letter-spacing: 5%;
    background-color: #F25C05;
}
.login-button:hover{
        background-color: #FF751D;
        cursor: pointer;
}
.login-message{
    margin-top: 1rem;
    font-family: 'Montserrat';
    text-align: center;
}